<!doctype html>
<html lang="en">
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
        {% endblock %}
        <title>{% block title %}These are our latest videos{% endblock %}</title>
    </head>
    <body class="py-4">
        {% block content %}
            <div id="content" class="container-md">
                <div class="row mb-3">
                    <div class="col"><h3>These are our latest videos</h3></div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="list-group">
                            {% for key, video in videos %}
                                <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span><a href="{{ path('videos',  {video: key}) }}" target="_self" class="list-group-item list-group-item-action">{{ video.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

{# here you can use the Twig variable 'videos' that gets passed from the controller #}
